---
import type { CollectionEntry } from 'astro:content'
import Layout from '~/layouts/BaseLayout.astro'
import { getNotes } from '~/utils/notes'

type Props = {
  note: CollectionEntry<'notes'>
}

export async function getStaticPaths() {
  const notes = await getNotes()

  return notes.map(note => ({
    params: { slug: note.slug },
    props: { note },
  }))
}
const { note } = Astro.props
const { Content } = await note.render()
---

<Layout title={note.data.title} keywords={note.data.tags.join(',')}>
  <div>
    <article>
      <h1 class="text-xl">{note.data.title}</h1>
      <div class="mt-8">
        <Content />
      </div>
    </article>
  </div>
</Layout>
