---
import Layout from '~/layouts/BaseLayout.astro'
import ProjectsSection from '~/sections/ProjectsSection.astro'
import NotesSection from '~/sections/NotesSection.astro'
import SocialSection from '~/sections/SocialSection.astro'
---

<Layout title="Aldo R. Robles">
  <div>
    <h1 class="text-lg font-medium">Hi, I&apos;m Aldo R. Robles</h1>
    <div class="mt-6">
      <p class="text-sm text-fg-muted xs:text-base">
        I'm a full stack developer from Argentina. I enjoy creating things that
        live on the cloud, whether it's websites, applications, or anything in
        between. I'm constantly learning and always exploring new technologies.
        Feel free to check out some of my coding projects on <a
          href="https://github.com/roblesdotdev"
          class="text-fg-accent hover:underline"
          target="_blank"
          rel="noreferrer noopener">github</a
        > or learn more <a href="/about/" class="text-fg-accent hover:underline"
          >about me</a
        >.
      </p>

      <SocialSection />

      <div class="h-16"></div>

      <ProjectsSection />

      <div class="h-16"></div>

      <NotesSection />
    </div>
  </div>
</Layout>
