---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const allNotes = await getCollection("notes")
---

<Layout title="Aldo R. Robles">
    <div>
        <h1>Aldo Robles</h1>
        <p class="italic text-fg-muted text-sm">Full-stack Developer</p>

        <section class="mt-8">
            <h1 class="text-sm text-fg-muted italic">Personal notes</h1>
            <div class="mt-6">
            <ul>
                {allNotes.map(note => (
                    <li>
                        <h1>{note.data.title}</h1>
                        <p class="text-sm text-fg-muted">{note.data.summary}</p>
                        <div class="mt-4">
                            <a href={`/notes/${note.slug}`}>Read more <span class="sr-only">about {note.data.title}</span></a>
                        </div>
                    </li>
                ))}
            </ul>
            </div>
        </section>
    </div>
</Layout>
