---
import Layout from '~/layouts/BaseLayout.astro'
import Divider from '~/components/Divider.astro'
import ProjectsSection from '~/sections/ProjectsSection.astro'
import NotesSection from '~/sections/NotesSection.astro'
---

<Layout title="Aldo R. Robles">
  <div>
    <h1 class="text-xl font-medium">Aldo R. Robles</h1>
    <p class="text-base italic text-fg-muted">Full-stack Web Developer</p>

    <div class="h-14"></div>

    <ProjectsSection />

    <Divider />

    <NotesSection />
  </div>
</Layout>
