---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aldo R. Robles">
    <div>
        <h1>Aldo Robles</h1>
        <p class="italic text-fg-muted text-sm">Full-stack Developer</p>
    </div>
</Layout>
