---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Aldo R. Robles">
  <div>
    <h1>Aldo Robles</h1>
    <p class="text-sm italic text-fg-muted">Full-stack Developer</p>
  </div>

  <section class="mt-8">
    <h1 class="text-sm italic text-fg-muted">Personal notes</h1>
    <ul>
      <li>My note</li>
    </ul>
  </section>
</Layout>
