---
import SocialSection from '~/sections/SocialSection.astro'
---

<footer class="pb-12 pt-10">
  <div class="container space-y-4 pt-8 text-fg-muted">
    <p class="text-sm">
      This site is built with <a
        href="https://astro.build"
        class="text-fg-accent hover:underline"
        target="_blank"
        rel="noreferrer noopener">Astro</a
      > and hosted on <a
        href="https://pages.cloudflare.com"
        class="text-fg-accent hover:underline"
        target="_blank"
        rel="noopener noreferrer">Cloudflare</a
      >.
    </p>

    <p>
      &copy; Aldo R. Robles - {new Date().getFullYear()}.
    </p>
  </div>
</footer>
