---
import Link from '~/components/ui/HeaderLink.astro'

const navLinks = [
  { label: 'About', href: '/about/' },
  { label: 'Notes', href: '/notes/' },
  { label: 'Projects', href: '/projects/' },
]
---

<header class="w-ful h-[88px]">
  <nav class="container flex h-[inherit] w-full items-center justify-between">
    <a
      class="flex size-8 items-center justify-center rounded-md border border-border/50 outline-none ring-border transition-all focus-visible:ring-2"
      href="/"
    >
      <span class="text-xl font-medium">r.</span>
    </a>

    <ul id="links" class="flex items-center gap-1 text-sm xs:text-base">
      {
        navLinks.map(link => (
          <li class="pl-2 [&:not(:last-child)]:pr-2">
            <Link href={link.href}>{link.label}</Link>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
