<div class="mt-6 flex items-center gap-4 text-sm text-fg-muted">
  <a
    href="https://x.com/roblesdotdev"
    class="transition-all hover:text-fg-accent"
    target="_blank"
    rel="noreferrer noopener"
  >
    Twitter(X)
  </a>
  <a
    href="https://github.com/roblesdotdev"
    class="transition-all hover:text-fg-accent"
    target="_blank"
    rel="noreferrer noopener"
  >
    Github
  </a>
  <a
    href="https://linkedin.com/in/robles-ra"
    class="transition-all hover:text-fg-accent"
    rel="noreferrer noopener"
  >
    Linkedin
  </a>
</div>
