---
import CommonHead from '~/components/CommonHead.astro'
import Header from '~/components/Header.astro'
import '../styles/global.css'
interface Props {
  title: string
  description?: string
  keywords?: string
}

const {
  title,
  description = 'Full-stack developer. Typescript, React, Remix, Node and more.',
  keywords = '',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <CommonHead
      siteTitle={title}
      description={description}
      keywords={keywords}
    />
  </head>
  <body class="relative flex min-h-screen flex-col">
    <Header />
    <main class="container flex-1 pb-16 pt-10">
      <slot />
    </main>
    <footer class="py-6">
      <div class="container">
        <p class="text-sm text-fg-muted xs:text-base">
          &copy; Aldor R. Robles - 2024
        </p>
      </div>
    </footer>
  </body>
</html>
