---
import BaseHead from '~/components/BaseHead.astro'
import Header from '~/components/Header.astro'
import '../styles/global.css'
interface Props {
  title: string
  description?: string
  keywords?: string
}

const {
  title,
  description = 'Full-stack developer. Typescript, React, Remix, Node and more.',
  keywords = '',
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead siteTitle={title} description={description} keywords={keywords} />
  </head>
  <body class="relative antialiased">
    <Header />
    <main class="container pb-16 pt-10">
      <slot />
    </main>
  </body>
</html>
