---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '~/components/FormattedDate.astro'
import BaseLayout from '~/layouts/BaseLayout.astro'

type Props = {
  data: CollectionEntry<'notes'>['data']
}

const { data } = Astro.props
---

<BaseLayout
  title={data.title}
  description={data.summary}
  keywords={data.tags.join(',')}
>
  <div class="mb-6">
    <a href="/notes/" class="inline-flex items-center gap-1 text-fg-muted">
      <svg
        viewBox="0 0 15 15"
        class="h-4 w-4"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"></path>
      </svg>
      All notes
    </a>
  </div>
  <FormattedDate date={data.date} />
  <h1 class="text-xl font-medium">{data.title}</h1>
  <div class="prose !max-w-none">
    <slot />
  </div>
</BaseLayout>
